@-webkit-keyframes slideInUp {
	from {
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0);
		visibility: visible;
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInUp {
	from {
		-webkit-transform: translate3d(0, 30px, 0);
		transform: translate3d(0, 30px, 0);
		visibility: visible;
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.effect {
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	opacity: 1;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	-webkit-animation: slideInUp 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 1, fadeIn 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1;
}

#project.effect .outer01,
#project.effect .slider {
	-webkit-animation: di_color 32s ease infinite, slideInUp 0.75s ease 1, fadeIn 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1;
	-moz-animation: di_color 32s ease infinite, slideInUp 0.75s ease 1, fadeIn 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1;
	-o-animation: di_color 32s ease infinite, slideInUp 0.75s ease 1, fadeIn 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1;
	animation: di_color 32s ease infinite, slideInUp 0.75s ease 1, fadeIn 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1;
}