@charset "UTF-8";
/*
 * cmn_style.css
 */
/* ==========================================================
!Link
========================================================== */
a {
	position: relative;
	color: #000000;
	/* 変更前 */
	text-decoration: none;
	        -o-transition-property: color;
	        transition-property: color;
	        -o-transition-duration: 0.1s;
	           transition-duration: 0.1s;
	/* fade */

	-webkit-transition-duration: 0.1s;
	/* 0.1秒かけて */
	-webkit-transition-property: color;
	/* transitionを適用するCSSプロパティ名を指定 colorが変更対象 */
}

a:hover,
a:active,
a:focus {
	color: #00508e;
	/* 変更後 指定したvalueに変わるときtransitionが発動する */
}

.nolink01 {
	text-decoration: line-through !important;
}

sup {
	font-size: 75%;
	vertical-align: top;
}

sub {
	font-size: 75%;
	vertical-align: baseline;
}

/* どのdisplayで表示させるか
------------------------------------ */
/* 479px以下（SP） */
.sp {
	display: inline-block;
}

.pc {
	display: none;
}

/* 640px以上（ファブレット） */
@media only screen and (min-width: 640px) {
	.sp {
		display: none;
	}
	.pc {
		display: inline-block;
	}
}