@charset "utf-8";

// _cmn_button.scss

/* ==========================================================
!Button
========================================================== */
/* Basic White Button */
.btn_basic01 {
	ul {
		li {
			a,
			div,
			button {
				p {
					span {
						/* WCAG 2.0 C7 */
						overflow: hidden;
						position: absolute;
						top: -10px;
						width: 1px;
						height: 1px;
					}
				}
			}
		}
	}
}

/* 480px以上（大きめSP） */
@include sp-large {
}

/* 640px以上（ファブレット） */
@include phab {
}

/* 768px以上（タブレット） */
@include tab {
}

/* 960px以上（大きめタブレット 横位置とか） */
@include tab-large {
}

/* 1024px以上（基本のPC） */
@include pc {
}

/* 1200px以上（大きめPC） */
@include pc-large {
}
