@charset "utf-8";

// _variable.scss

// ==========================================================
// 変数
// 「$変数名」のように日本語も使えます
// ==========================================================
//パス
$path: "../img/"; //書き方：background: url(#{$path}bg_mainimg01.png) no-repeat 0 0; のようにインターポレーションで記述

//ヘッダー・ナビゲーション
$ヘッダースクロール時: "#header.scroll";

//グローバルナビゲーション
$Gナビ00: "#g00"; //TOP
$Gナビ01: "#g01";
$Gナビ02: "#g02";
$Gナビ03: "#g03";
$Gナビ04: "#g04";
$Gナビ05: "#g05";

//ローカルナビゲーション
$Lナビ01: ".l01";
$Lナビ02: ".l02";
$Lナビ03: ".l03";
$Lナビ04: ".l04";
$Lナビ05: ".l05";
$Lナビ06: ".l06";
$Lナビ07: ".l07";
$Lナビ08: ".l08";
$Lナビ09: ".l09";
$Lナビ10: ".l10";

//最大横幅(左右余白2%入れたとき内側のコンテンツ幅を960pxにするための幅)
$wmax: calc(1000px);

// 標準font-family
$font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;

// 標準テキストカラー
$text_color: #333333;

// 標準リンクカラー
$link_color: #333333;

// 標準リンクhoverカラー
$link_hover_color: #333333;

//SNSカラー
$c_twitter: #00aced;
$c_facebook: #305097;
$c_googleplus: #db4a39;
$c_line: #5ae628;

//基本カラー
$c_white: #ffffff;
$c_white30: rgba(255, 255, 255, 0.3);
$c_white50: rgba(255, 255, 255, 0.5);
$c_black: #000000;
$c_black50: rgba(0, 0, 0, 0.5);

//グレー
$c_gray_light1: #f1f1f1;
$c_gray_medium1: #777777;

//その他のカラー(デザインから抜粋して設定する)
$c_red: #ff0000;
$c_green: #00ff00;
$c_blue: #0000ff;

// ==========================================================
// gray memo
// ==========================================================

// light
// f
// e
// d
// c
// b
// a

// medium
// 9
// 8
// 7
// 6
// 5

// dark
// 4
// 3
// 2
// 1
// 0
